.blog-header {
  background-color: #10243E;
  padding: 88px 0px;
}


.blog-title {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 26px 0px;
  width: 90%;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-content button {
  width: fit-content;
}

.blog-articles {
  margin: 130px auto;

  & .card {
    border: 0px !important;
  }

  & .card-body{
    padding-left: 0px;
    padding-right: 0px;
  }

  & .image-holder {
    //min-width: 375px;
    max-height: 240px;
    overflow: hidden;
    object-fit: cover;

    & img {
      object-fit: cover;
    }
  }
}

.blog-articles-list{
  margin-top: 48px;
}

.article-date {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #737171;
  text-transform: uppercase;
}

.article-title {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #595858;
}


.article-read-more{
  position: relative;
  & > i {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-46%);
  }
}

.flex-port-more{
  background-image: linear-gradient(180deg, #F9F9F9 60%, #FFF 60%);
  padding: 88px 0px 128px;
  display: block;
}

.blog-more-details{
  margin-top: 70px;
}

.blog-more-card{
  display: block;
  flex-direction: column;
  position: relative;
  height: 320px;
  background-color: #fff;
  border-radius: 4px;
  padding: 56px;
  box-shadow: 0px 12px 40px rgba(12, 30, 53, 0.08);

}
.blog-more-card:after{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 40%;
  background-image: url("../../public/images/blog/pattern.png");
}

@media (max-width: 768px) {

  .blog-date{
    text-align: center;
  }
  .blog-title {
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
  }

  .blog-content{
    order: 2;
    & button {
      margin: 0 auto;
    }
  }
  .blog-thumbnail{
    order: 1;
    margin-bottom: 30px;
  }

}






